@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SideProjectHelper</h1>
    <p>
        You can launch your idea here, meanwhile you can help other's project.
    </p>
</div>